.container {
  margin: 4rem;
  text-align: center;

  .album-card {
    border: 2px solid $color-font-2;
    width: 25%;
    display: inline-block;
    margin: 2rem 1rem;
  }
  .album-card:hover{
    color: $color-offwhite;
    background: $color-header-bg;
  }
  .photo-card {
    border: 2px solid $color-font-2;
    width: 25%;
    // display: inline-block;
    display: none;
    margin: 2rem 1rem;
  }
  .photo-card-light {
    border: 2px solid $color-font-2;
    width: 25%;
    display: inline-block;
    // display: none;
    margin: 2rem 1rem;
  }

  .photo-card-light:hover{
    color: $color-offwhite;
    background: $color-header-bg;
  }
  p {
    text-align: center;
    margin: .5rem 0;
  }

}
.body-container-og {
  float: left;

}
.body-container-width {
  float: left;
  width: 85%;

}
// .body-container-after-being-clickedon{
//   width: 85%
// }
.album-selected {

}
// we want to keep all of these styles just want a diff image
// .container {.album-card, .album-card:hover, p} .body-container-og, .body-container-width
