.og-header {
  text-align: center;
  background:  $color-header-bg;
  color: $color-font-2;
  padding: .5rem;
  border-bottom: 2px $color-font-2 solid;
  h1 {
    margin-top: 1rem;
  }
  img {
    width: 3rem;
    padding-right: 3rem;
    vertical-align: middle;
  }

}
.album-header{
  text-align: center;
  background:  $color-background;
  color: $color-font-1;
  padding: .5rem;
  border-bottom: 2px $color-font-2 solid;
  h1 {
    font-size: 2.5rem;

  }
  img {
    width: 3rem;
    padding-right: 3rem;
    vertical-align: middle;
  }
}
.title {
  display:none
}
.title-displayed {
  display: block
}
