header {
  text-align: center;
  background:  #294e70;
  color: $color-font-2;
  padding: .5rem;
  border-bottom: 2px $color-font-2 solid;
  h1 {
    margin-top: 1rem;
  }
  img {
    width: 3rem;
    padding-right: 3rem;
    vertical-align: middle;
  }

}
