.album-card {
  .img {
    display: block;
    width: 100%;
    border-bottom: 2px solid $color-font-2;
  }

  // .photo-on {
  //   display: block;
  // }
  // .photo-cap-on {
  //   display: block;
  // }


}
.remove {
  display: none;
}
